[submodule "lib/pcm"]
	path = lib/pcm
	url = https://github.com/opcm/pcm.git
	commit = 4e3c1993686f8e17769a7b26264900a76fa0987d
[submodule "lib/gflags"]
	path = lib/gflags
	url = https://github.com/gflags/gflags.git
[submodule "lib/abseil-cpp"]
	path = lib/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "lib/ralloc"]
	path = lib/ralloc
	url = https://github.com/urcs-sync/ralloc.git
	commit = 6b9d7a1af75ba75232107bfaeb6a034799d5b182
